.container{
    padding: 20px;
}

button span{
    padding-left: 10px;
}

.fullscreen,
.fullscreen .column{
    padding: 0 !important;
}


.sticky{
    margin: 20px;
    position: fixed;
    z-index: 99;
}